doctype html
head
  meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
  meta(name='format-detection' content='telephone=no')
  meta(name='viewport' content='width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=no;')
  meta(http-equiv='X-UA-Compatible' content='IE=9; IE=8; IE=7; IE=EDGE')
  title Welcome to Lips.
  link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.2.0/css/all.css')
  link(href='https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900&display=swap' rel='stylesheet')
  style.
    @import url("https://fonts.googleapis.com/css?family=Poppins:400,500,100%,700&display=swap");
    @media only screen and (max-width:600px) {
    td[class=head-title] {
    font-size: 24px !important;
    padding-bottom: 10px !important;
    line-height: 32px !important;
    }
    div[class=mb_View] {
    width: 96% !important;
    padding-left: 2%;
    padding-right: 2%;
    }
    }
    @media only screen and (max-width:480px) {
    td[class=head-title] {
    font-size: 18px !important;
    }
    img[class=logo_img] {
    width: 200px !important;
    }
    }
table(align='center' cellpadding='0' cellspacing='0' border='0' style='margin-top: 21px; margin-bottom: 20px;')
  tr
    td
      .mb_View(style='background-color: #f4f4f4 !important; max-width:600px; margin: 0 auto;')
        table(width='100%' align='center' cellpadding='0' cellspacing='0' border='0')
          tr
            td
              table(width='100%' cellpadding='0' cellspacing='0')
                tr
                  td.logo_block(bgcolor='' style='padding-top:25px; padding-bottom:25px; text-align: center; background-color: #ffffff;')
                    a(href='#m_-1778674465433749821_m_-1945850375391101209_m_-6818727870886611857_' target='_blank')
                      img.logo_img(src='https://lips-staging-media.s3.us-west-2.amazonaws.com/uploads/user/5750/localhost_1602077879657.png' width='193px' alt='Logo')
          tr
            td
              table(width='100%' cellpadding='0' cellspacing='0' align='center' bgcolor='#fff')
                tr
                  td(style='padding-left:20px; padding-right:20px; padding-top:30px; padding-bottom:5px; border-radius: 5px 5px 0 0;' bgcolor='#FFFFFF')
                    table(width='100%' cellspacing='0' cellpadding='0' border='0' align='center')
                      tbody
                        tr
                          td
                            table(width='100%' cellspacing='0' cellpadding='0' border='0' align='center')
                              tbody
                                tr
                                  td(style="padding-top:1px; padding-bottom:7px; font-family: 'Montserrat', sans-serif !important; color:#000000; font-size:15px; line-height:24px; font-weight: 600;")
                                    | Hello #{name}
                                tr
                                  td.para1(style="font-family: 'Montserrat', sans-serif !important; font-size:14px; padding-top:10px;  color:#000000; line-height:24px; padding-bottom:30px;")
                                    | You are invitated by lips to register. Here is your approval code <b>#{code}</b> to approve your lips user account.
                                tr
                                  td(style='padding-bottom: 20px;')
                                    table(style='background-color: #fd3398; border: 1px solid #fd3398; border-radius: 4px;' cellspacing='0' cellpadding='0' align='center')
                                      tbody
                                        tr
                                          td(style='padding-left: 15px; padding-right: 15px; text-align: center; cursor: pointer' valign='middle' height='45' width='164')
                                            a(href=shortLink style="display: block; font-family: 'Montserrat', sans-serif !important; border-radius: 4px; font-size: 14px; line-height: 14px; color: #fff; text-decoration: none; font-weight: 500;")
                                              span Register Here
                                tr
                                  td.para1(style="font-family: 'Montserrat', sans-serif !important; font-size:14px; padding-top:10px;  color:#000000; line-height:24px; padding-bottom:30px;")
                                    | Your account will be approved by this code. Code will expire in 30 days.
                                tr
                                  td(style="padding-top:0; padding-bottom:0; font-family: 'Montserrat', sans-serif !important; color:#000000; font-size:14px; line-height:24px; font-weight: 600;") Regards,
                                tr
                                  td(style="padding-top:0; padding-bottom:0; font-family: 'Montserrat', sans-serif !important; color:#000000; font-size:14px; line-height:24px;") Lips
          tr
            td(bgcolor='#141414' style='padding-left:11px; padding-right:10px; padding-top:15px; padding-bottom:15px; border-radius: 0 0 5px 5px;')
              table(width='100%' border='0' cellspacing='0' cellpadding='0')
                tbody
                  tr
                    td(style="text-align:center; font-size:13px; font-family: 'Montserrat', sans-serif !important; color:#fff; line-height:23px; font-weight: 500;")  &copy; 2020 Lips. All rights reserved. 
